@import "tailwindcss" source(none);

@source "../../../app";
@source "../../../src";

:root {
	--color-black: #000000;
	--color-black-total: #000000;
	--color-white: #ffffff;
	--color-white-total: #ffffff;
	--color-text: #0b0e0b;
	--color-background: #f4f6f3;
	--color-primary: #455341;
	--color-secondary: #a4b6b7;
	--color-accent: #6c7789;
}

:root[data-theme="dark"] {
	--color-text: #f1f4f1;
	--color-background: #0a0c09;
	--color-primary: #b0beac;
	--color-secondary: #485a5b;
	--color-accent: #768193;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]),
	:root[data-theme="system"] {
		--color-text: #f1f4f1;
		--color-background: #0a0c09;
		--color-primary: #b0beac;
		--color-secondary: #485a5b;
		--color-accent: #768193;
	}
}

@theme {
	--breakpoint-xs: 360px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1025px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1440px;
	--breakpoint-3xl: 1920px;

	--color-black: var(--color-black);
	--color-black-total: var(--color-black-total);
	--color-white: var(--color-white);
	--color-white-total: var(--color-white-total);
	--color-text: var(--color-text);
	--color-background: var(--color-background);
	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
	--color-accent: var(--color-accent);

	--font-primary: var(--font-primary);

	--text-h1: 2.5rem;
	--text-h1--line-height: 1.2;
	--text-h1-d: 1.75rem;
	--text-h1-d--line-height: 1.2;

	--text-h2: 2rem;
	--text-h2--line-height: 1.25;
	--text-h2-d: 1.5rem;
	--text-h2-d--line-height: 1.25;

	--text-h3: 1.5625rem;
	--text-h3--line-height: 1.3;
	--text-h3-d: 1.25rem;
	--text-h3-d--line-height: 1.3;

	--text-h4: 1.25rem;
	--text-h4--line-height: 1.35;
	--text-h4-d: 1.125rem;
	--text-h4-d--line-height: 1.35;

	--text-h5: 1rem;
	--text-h5--line-height: 1.4;
	--text-h5-d: 0.9375rem;
	--text-h5-d--line-height: 1.4;

	--text-h6: 0.8125rem;
	--text-h6--line-height: 1.4;
	--text-h6-d: 0.8125rem;
	--text-h6-d--line-height: 1.4;

	--text-body: 1rem;
	--text-body--line-height: 1.6;
	--text-body-d: 0.9375rem;
	--text-body-d--line-height: 1.6;

	--text-small: 0.875rem;
	--text-small--line-height: 1.5;
	--text-small-d: 0.8125rem;
	--text-small-d--line-height: 1.5;

	--text-caption: 0.75rem;
	--text-caption--line-height: 1.5;
	--text-caption-d: 0.75rem;
	--text-caption-d--line-height: 1.5;

	--default-transition-duration: 0.35s;

	--spacing-13: calc(var(--spacing) * 13);
	--spacing-15: calc(var(--spacing) * 15);
	--spacing-17: calc(var(--spacing) * 17);
	--spacing-18: calc(var(--spacing) * 18);
	--spacing-19: calc(var(--spacing) * 19);
}
